@tailwind base;
@tailwind components;
@tailwind utilities;


/*      PRIMARY ATTRIBUTES      */

:root {
    --div-background-color: black;
}

.light-mode {
    background-color: var(--div-background-color, white);
    color: black;
}
 
body {
    background-color: var(--div-background-color, black);
    color: white;
    font-family: 'Inconsolata', monospace;

    margin-top: 100px;
    margin-left: 100px;
    margin-right: 8%;
    max-width: 500px; 
} p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;

}


a {
    color: white;
    text-decoration: none;
    
}

h1 {
    font-family: 'Segoe UI', sans-serif; //  'Lato', sans-serif;
    font-size: 40px;
    font-weight: 500; // 300
    letter-spacing: 1px;
} h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;

} h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.head-title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(39, 39, 39);
    margin: 1em 0;
    padding: 0;
}


.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; bottom: 0; right: 0; left: 0;
    background: white;
    opacity: 0;
  }
  


/*      TYPOGRAPHY      */

.text {
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
    line-height: 1.5;
}


.hlink {
    /* color: rgb(175, 175, 175); */
     color:  #ffb086; // #f5978e  -  #A9BFC9  - #FFDB86
     text-decoration: none;
     font-weight: 500;
     transition: 0.3s;
     cursor: pointer;
 }
 .hlink:hover {
     /*color: #f5978e;  #929da6*/
     color: #939393; // #bb6a63   -  #677379  -  #CCAA5B
 }

.link {
   /* color: rgb(175, 175, 175); */
    color:  #ffb086; // #f5978e
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
.link:hover {
    /*color: #f5978e;  #929da6*/
    color: #939393; // #bb6a63  - #B87D5D
}

.navhov {
    /* color: rgb(175, 175, 175); */
     color: #ffffff; 
     text-decoration: none;
     transition: 0.3s;
 //    font-size: 19px;
 }
 .navhov:hover {
     /*color: #ffb086       #f5978e*/
     color: #ffb086; // 
 }

 .dim {
    color: #939393; 
    text-decoration: none;
    transition: 0.3s;
 }


 
/*     SELECTION       */

::-moz-selection { /* Code for Firefox */
    color: black;
    background: #ffb086;
  }
  
  ::selection {
    color: black;
    background: #ffb086;
  }



/*      FLEXBOX       */ 

.flexbox-container {
    flex: 1;
    overflow: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    background-color: var(--background-color, black);
    justify-content: center;
    align-items: flex-start;
    overflow: auto;

}

.flexbox-item {
    width: 95%;
  /*    border: 0.1px solid rgb(39, 39, 39); */
    border-radius: 25px;
    padding: 50px;
    align-items: center;
    justify-content: center;

}

.flexbox-item-1 {
    min-height: 100px;
    margin: 100px 0px 50px 50px;  /*   margin: 150px 75px 150px 150px; */ /* 100px 0px 10px 100px */
    display: relative;
    overflow: auto;

}

.flexbox-item-2 {
    min-height: 100px;
    margin: 100px 50px;  /* 150px 150px 150px 75px */ /* 125px 175px 0px 125px */
    display: relative;
    overflow: auto;
 /*   width: 40%; */

}

div.sticky {
    position: -webkit-sticky;
    position: sticky;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    padding: 50px;
    font-size: 20px;
  }

  body {
      height: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

  html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.cent {
    margin-left: 40%; /* 43% */
    font-size: 17px;
}

.mb {
    margin-bottom: -10px;
}

.mbl {
    margin-bottom: 150px;
}


ul.nav {
    padding-left: 0px;
    text-align: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 0px 50px;
  }
  ul.nav > li:hover {
    background-color: #00000000;
  }
  ul.nav > li > a {
    text-decoration: none;
  }

  .subhead {
    font-size: 22px;
    font-weight: 400;
  }

  .sublink {
    font-size: 20px;
  }




/* FIX HEAD FOOT 
.fixed-header, .fixed-footer{
    margin-top: -100px;
    margin-left: -100px;
    margin-right: -100px;

    position: fixed;

    width: 100%;

    position: fixed;        
    background: rgb(0, 0, 0);
    padding: 50px 0;
}
.fixed-footer{
    bottom: 0;
}
.fixed-header{
    bottom: 0;
}
*/



/* 
    SCREEN OPTIMIZING FOR BODY ELEMENTS

    Automatic scaling for font size and margins in the text-
    based program, html and css.

*/


/* SCREEN OPTIMIZING */     /*   XSMALL   */


@media screen and (max-width: 1024px) {
    div {
        display: inline;
        color: #000;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000; 
    }
}

/* SCREEN OPTIMIZING */     /*   SMALL   
@media screen and (min-width: 768px) {
    .cent {
        margin-left: 10%; 43% 
        font-size: 15px;
    }
} */

/* SCREEN OPTIMIZING */     /*   MEDIUM   */
@media screen and (min-width: 1024px) {
    .cent {
        margin-left: 20%; /* 43% */
        font-size: 17px;
    }

    ul.nav {
        padding-left: 0px;
        text-align: left;
      }
    ul.nav > li {
        display: inline-block;
        padding: 0px 0px;
    } 
}

/* SCREEN OPTIMIZING */     /*   LARGE   */
@media screen and (min-width: 1366px) {
    .cent {
        margin-left: 30%; /* 43% */
        font-size: 17px;
    }

    ul.nav > li {
        display: inline-block;
        padding: 0px 12.5%;
    } 
    
}

/* SCREEN OPTIMIZING */     /*   XLARGE   */
@media screen and (min-width: 1920px) {
    .cent {
        margin-left: 35%; /* 43% */
        font-size: 17px;
    }
    
    .text {
        font-family: 'Inconsolata', monospace;
        font-size: 17px;
        line-height: 1.5;
    }

    .subhead {
        font-size: 22px;
        font-weight: 400;
      }

      .sublink {
        font-size: 20px;
      }

    h1 {
        font-family: 'Segoe UI', sans-serif; //  'Lato', sans-serif;
        font-size: 40px;
        font-weight: 500; // 300
        letter-spacing: 1px;
    }

    h2 {
        font-family: 'Inconsolata', monospace;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0px;
        text-transform: uppercase;
    
    } 


    ul.nav {
        padding-left: 0px;
        text-align: center;
      } 
      
}

/* SCREEN OPTIMIZING */     /*   XLARGE   */
@media screen and (min-width: 2440px) {
    .cent {
        margin-left: 40%; /* 43% */
        font-size: 20px; // 17px
    }

    .text {
        font-family: 'Inconsolata', monospace;
        font-size: 20px;
        line-height: 1.5;
    }

    .subhead {
        font-size: 28px;
        font-weight: 400;
      }

      .sublink {
        font-size: 22px;
      }

    h1 {
        font-family: 'Segoe UI', sans-serif; //  'Lato', sans-serif;
        font-size: 45px;
        font-weight: 500; // 300
        letter-spacing: 1px;
    }

    h2 {
        font-family: 'Inconsolata', monospace;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0px;
        text-transform: uppercase;
    
    } 
}

