

/*      PRIMARY ATTRIBUTES      */

:root {
    --bgc: #A793FE;
    --dim: #939393;
    --hrc: rgb(39, 39, 39, 0.1);
    --bgswitchmode: #FFFFFF;
    --iconbg: #FFFFFF00;
    --txtcol: #000000; // #BB3333
}

body.dark-theme { // body.dark-theme
    --hrc: rgb(240, 240, 240, 0.1);
    --bgswitchmode: #000000;
    --txtcol: #FFFFFF; 
    --hrc: rgb(200, 200, 200, 0.2);

}





.popup {
    position: fixed;

    /* transform: translate(-50%, -50%); */
}
.modalDialog { 
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	
	z-index: 99999;  
	 /* opacity:0;   */
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.popup{
    background-color: #999999;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}





body {
    height: 100%;
    transition: 0.2s; 

    background-color: var(--bgswitchmode);
    color: var(--txtcol); // #FBFAF9 
    font-family: 'Inconsolata', monospace;

    margin-top: 100px;
    margin-left: 100px;
    margin-right: 8%;
    max-width: 500px; 
} p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;

}

.top {
    position: absolute;
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 35px;
}

button {
    float: left;
    width: 0%; 
    height: 0%;
    background-color: red; //var(--iconbg)
    color: var(--txtcol);
    font-size: 20px;
    /* border-radius: 10px; */
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.d {
        background-color: red; //var(--iconbg)
        color: var(--txtcol);
        font-size: 20px;
        /* border-radius: 10px; */
        border: none;
        /* margin-top: 15px; */
        cursor: pointer;
}

.txt {
    text-decoration: none;
    font-kerning: normal;

    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; 
    font-weight: 400; 
    line-height: 30px;
}


a {
    text-decoration: none;
}

h1 {
    font-family: 'Segoe UI', sans-serif; //  'Lato', sans-serif;
    font-size: 40px;
    font-weight: 500; // 300
    letter-spacing: 1px;
} h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;

} h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-indent: 5%;
}

.head-title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--hrc);
    margin: 1em 0;
    padding: 0;
}


.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; bottom: 0; right: 0; left: 0;
    background: white;
    opacity: 0;
  }
  


/*      TYPOGRAPHY      */

.text {
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
    line-height: 1.5;
}


.hlink {
    /* color: rgb(175, 175, 175); */
     color: var(--bgc); //  
     text-decoration: none;
     transition: 0.2s;
     cursor: pointer;
 }
 .hlink:hover {
     /*color: #f5978e;  #929da6*/
     color: #939393; // 
 }

 a:-webkit-any-link {
    text-decoration: none;
}

.link {
   /* color: rgb(175, 175, 175); */
    font-family: 'Inconsolata', monospace;
    color:  var(--bgc); //  #EE8869
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}
.link:hover {
    /*color: #f5978e;  #929da6*/
    color: #939393; // 
}

.navhov {
    /* color: rgb(175, 175, 175); */
    color: var(--txtcol); // #FBFAF9
    text-decoration: none;
    /* transition: 0.2s; */
 //    font-size: 19px;
 }
 .navhov:hover,
 .navhov:active {
    /*color: #ffb086       #f5978e*/
    transition: 0.2s;
    color: var(--bgc); // 
 }

 .dim {
    color: var(--dim); 
    text-decoration: none;
    transition: 0.2s;
 }

 .scrollbud,
 .scrollbud:hover,
 .scrollbud:focus,{
    font-family: 'Inconsolata', monospace;
    color:  var(--bgc); //  #EE8869
    transition: 0.2s;
 } 

 .active {
    color: var(--bgc) !important; //
    background-color: #000000 !important; 
 }


 img:hover {
    transition: 0.2s;
    color: var(--bgc); // 
 }
 
/*     SELECTION       */

::-moz-selection { /* Code for Firefox */
    color: var(--bgswitchmode);
    background: var(--bgc); // #ffb086
  }
  
  ::selection {
    color: var(--bgswitchmode);
    background: var(--bgc);
  }



/*      FLEXBOX       */ 

.flexbox-container {
    flex: 1;
    overflow: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    
}

.flexbox-item {
    width: 100%; // 95%
    border: 0.1px solid rgb(39, 39, 39,0.5);
    border-radius: 25px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    /* display: flex; */

}

.flexbox-item-1 {
    align-items: center;
    justify-content: center;
    
    min-height: 100px;
    /* border: 0.1px solid rgb(39, 39, 39,0.2); */
    margin: 0px 0px 0px 50px;  /*   margin: 150px 75px 150px 150px; */ /* 100px 0px 50px 50px */
    display: relative; 
    overflow: auto;
    top: 50%; 
    transform: translateY(-50%);


}

.flexbox-item-2 {
    min-height: 100px;
    /* border: 0.1px solid rgb(39, 39, 39,0.2); */
    margin: 100px 50px 100px 50px;  /* 150px 150px 150px 75px */ /* 125px 175px 0px 125px */
    display: relative;
    overflow: auto;
 /*   width: 40%; */

}

div.sticky {
    position: -webkit-sticky;
    position: sticky;

    align-items: center;
    justify-content: center;

  }
  .sticky2 {
    /* top: 50%; */
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
  }

  .sg {

    padding: 50px;
    font-size: 20px;
  }

  .ss {
    position:fixed;
  }


  body {
      height: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

  html {
    overflow-x: hidden;
}


.cent {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40%; /* 43% */
    font-size: 17px;
}

.mb {
    margin-bottom: -10px;
}

.i  {
    text-indent: 10px;
}

.mbl {
    margin-bottom: 150px;
}


ul.nav {
    padding-left: 0px;
    text-align: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 0px 50px;
  }
  ul.nav > li:hover {
    background-color: #00000000;
  }
  ul.nav > li > a {
    text-decoration: none;
  }

  .subhead {
    font-size: 22px;
    font-weight: 400;
  }

  .sublink {
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
  }




/* FIX HEAD FOOT 
.fixed-header, .fixed-footer{
    margin-top: -100px;
    margin-left: -100px;
    margin-right: -100px;

    position: fixed;

    width: 100%;

    position: fixed;        
    background: rgb(0, 0, 0);
    padding: 50px 0;
}
.fixed-footer{
    bottom: 0;
}
.fixed-header{
    bottom: 0;
}
*/



/* 
    SCREEN OPTIMIZING FOR BODY ELEMENTS

    Automatic scaling for font size and margins in the text-
    based program, html and css.

*/


/* SCREEN OPTIMIZING */     /*   XSMALL   */


@media screen and (max-width: 1024px) {
    div {
        display: none;
        color: #000;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000; 
    }
}

/* SCREEN OPTIMIZING */     /*   SMALL   
@media screen and (min-width: 768px) {
    .cent {
        margin-left: 10%; 43% 
        font-size: 15px;
    }
} */

/* SCREEN OPTIMIZING */     /*   MEDIUM   */
@media screen and (min-width: 1024px) {
    .cent {
        margin-left: 20%; /* 43% */
        font-size: 17px;
    }

    ul.nav {
        padding-left: 0px;
        text-align: left;
      }
    ul.nav > li {
        display: inline-block;
        padding: 0px 0px;
    } 
}

/* SCREEN OPTIMIZING */     /*   LARGE   */
@media screen and (min-width: 1366px) {
    .cent {
        margin-left: 30%; /* 43% */
        font-size: 18px;
    }

    ul.nav > li {
        display: inline-block;
        padding: 0px 12.5%;
    } 
    
}

/* SCREEN OPTIMIZING */     /*   XLARGE   */
@media screen and (min-width: 1920px) {
    .cent {
        margin-left: 35%; /* 43% */
        font-size: 18px;
    }
    
    .text {
        font-family: 'Inconsolata', monospace;
        font-size: 19px;
        line-height: 1.5;
    }

    .subhead {
        font-size: 22px;
        font-weight: 400;
      }

      .sublink {
        font-size: 20px;
      }

    h1 {
        font-family: 'Segoe UI', sans-serif; //  'Lato', sans-serif;
        font-size: 40px;
        font-weight: 500; // 300
        letter-spacing: 1px;
    }

    h2 {
        font-family: 'Inconsolata', monospace;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0px;
        text-transform: uppercase;
    
    } 


    ul.nav {
        padding-left: 0px;
        text-align: center;
      } 
      
}

/* SCREEN OPTIMIZING */     /*   XLARGE   */
@media screen and (min-width: 2440px) {
    .cent {
        margin-left: 40%; /* 43% */
        font-size: 20px; // 17px
    }

    .text {
        font-family: 'Inconsolata', monospace;
        font-size: 21px;
        line-height: 1.5;
    }

    .subhead {
        font-size: 25px;
        font-weight: 400;
      }

      .sublink {
        font-size: 22px;
      }

    h1 {
        font-family: 'Segoe UI', sans-serif; //  'Lato', sans-serif;
        font-size: 45px;
        font-weight: 500; // 300
        letter-spacing: 1px;
    }

    h2 {
        font-family: 'Inconsolata', monospace;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0px;
        text-transform: uppercase;
    
    } 

    
    .flexbox-item {
    //    width: 50%; // 95%
      /*    border: 0.1px solid rgb(39, 39, 39); */
        border-radius: 25px;
        padding: 50px;
        align-items: center;
        justify-content: center;
      //  padding-left: 500px;
    
    }

    .flexbox-item-1 {
        width: 50%;
        min-height: 100px;
        margin: 100px 0px 50px 50px;  /*   margin: 150px 75px 150px 150px; */ /* 100px 0px 10px 100px */
        display: relative;
        overflow: auto;
    
    }

    
    .flexbox-item-2 {
        min-height: 100px;
        margin: 100px 300px;  /* 150px 150px 150px 75px */ /* 125px 175px 0px 125px */
        display: relative;
        overflow: auto;
        width: 50%; 
    
    }

}




/* 
    SCROLLBAR.
*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgb(110, 110, 110);
    transition: 0.2s;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}



::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
    background: rgba(95, 91, 91, 1);

}

::-webkit-scrollbar-corner {
    background: none;
}


